@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
	background-image: linear-gradient(to bottom right, #480d4a, #a761f2);
	hight: 100vh;
	width: 100%;
	margin: 0;
}

.mainDiv {
	background: #b485e6;
	margin: 15% 25% 20.9% 25%;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid;
	border-color: #b485e6;
	border-radius: 10px;
	box-shadow: 0 0 30px 5px #720b75;
}

label {
	font-family: Merriweather;
	color: #fdbd01;
	display: block;
	font-size: 13px;
}

button {
	background-color: #b485e6;
	font-family: Merriweather;
	font-size: 20px;
	color: #ffd14a;
	border: solid;
	border-color: #fdbd01;
	border-radius: 10px;

}

button:hover {
	background-color: #9c05a1;
	color: #fdbd01;
	cursor: pointer;
	box-shadow: 0 0 10px 2px #fdbd01;
	transition: background-color 0.6s ease, color 0.6s ease, box-shadow 0.6s ease;
}

button:active {
	background-color: #b485e6;
	box-shadow: 0 0 10px 2px #b485e6;
	transition: background-color 90ms linear, box-shadow 90ms linear;
}

input:hover {
	cursor: pointer;
	box-shadow: 0 0 10px 2px #fdbd01;
	transition: background-color 0.6s ease, color 0.6s ease, box-shadow 0.6s ease;
}

input[type="checkbox"]{
	width:15px;
	high: 15px;
}

select:hover {
	cursor: pointer;
	box-shadow: 0 0 10px 2px #fdbd01;
	transition: background-color 0.6s ease, color 0.6s ease, box-shadow 0.6s ease;
}

.emailPasswordR {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 10px 10px 10px ;
	background: #720b75;
	border-color: #b485e6;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px #720b75;
}

.email {
	padding: 20px;
	margin-bottom: 5px;
}

.passwordRepeat {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	width: 100%;
}

.password, .passwordR {
	margin: 0 15px ;
	width: 300px;
}

.nameSurCity {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 10px 10px 10px ;
	background: #720b75;
	border-color: #b485e6;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px #720b75;
}

.nameSur {
	display: flex;
	justify-content: center;
	margin-top: 4px;
	width: 100%;
}

.name {
	padding: 15px;
	margin: 0 52px 5px 23px;
	width: 250px;
}

.sur {
	padding: 15px;
	margin: 0 0 5px 25px ;
	width: 250px;
}

.city {
	padding: 10px;
	margin-bottom: 10px;
}

.checkBoxButtons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 10px 5px 10px ;
	background: #720b75;
	border-color: #b485e6;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px #720b75;
}

.checkBox {
	padding: 20px;
	margin-bottom: 5px;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	width: 100%;
}

.registerButton {
	margin: 0 15px ;
	width: 100px;
}

.cancelButton {
	margin: 0 15px ;
	width: 100px;
}

